@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  line-height: 1.75em;
  font-family: var(--font-serif);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  line-height: 1.25em;
  margin-bottom: 1.5rem;
  text-transform: uppercase;

  a {
    display: inline-block;
    text-decoration: none;
  }
}

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

h1,
.h1 {
  font-family: var(--text-h1-font-family);
  font-weight: var(--text-h1-font-weight);
  margin-top: 4rem;
  font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}

h2,
.h2 {
  font-family: var(--text-h2-font-family);
  font-weight: var(--text-h2-font-weight);
  margin-top: 3.25rem;
  font-size: $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}

h3,
.h3 {
  font-family: var(--text-h3-font-family);
  font-weight: var(--text-h3-font-weight);
  margin-top: 2.75rem;
  font-size: $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $min_font
  );
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

hr,
.hr {
  border: 0;
  border-top: 1px solid var(--color-gray-l1);
  margin: -1px 0;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a {
  color: var(--color-link);
  &:hover {
    color: var(--color-link-hover);
  }
  &:active {
    color: var(--color-link-active);
  }
}

small,
.small {
  font-size: 80%;
  line-height: 1.4em;
}
